/*
1. General
2. Header
3. Bar
4. About
5. Projects
6. Blog
7. Contact
*/

/* ======================================== */
/* ========== 1. General ================== */
* {
    font-family: 'Roboto', Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

h1 {
    font-family: 'Lobster', 'Times New Roman', Times, serif;
    font-size: 4vw;
    letter-spacing: 3px;
}

h2, h3, h4, h5, h6 {
    font-family: 'Kanit', 'Courier New', Courier, monospace;
}

h2 {
    font-size:  2.5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.4rem;
}

a {
    color: #000000;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}

em {
    font-weight: bold;
    letter-spacing: 1px;
}

time {
    font-weight: bold;
}

abbr[aria-label]:hover::after,
abbr[aria-label]:focus::after {
  content: attr(aria-label);
  
  /* position tooltip like the native one */
  position: absolute;
  width: auto;
  white-space: nowrap;
  
  /* style tooltip */
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  font-size: 14px;
  padding: 8px 12px;
  margin: 5px 10px;
}

/* ======================================== */
/* ========== 2. Header =================== */
header {
    font-size: 1.4rem;
    background-color: black;
    color: white;
}

.intro {
    height: 100vh;
    margin: 0;
    padding: 6%;
    text-align: center;
}

.intro__banner {
    display: inline-block;
    position: relative;
    padding: 20px;
    top: -40px;
    text-align: left;
}

.banner__title {
    font-size: 1.6rem;
}

.intro__avatar {
    height: 35vh;
    width: auto;
}

.intro__description {
    margin: 20px auto;
    padding: 0 20px;
    max-width: 800px;
}

.intro__button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FFD500;
    color: #000000;
    padding: 10px 20px;
}

.intro__button:hover {
    background-color: #E01F39;
    color: #FFFFFF;
}

@media only screen and (max-height: 550px) and (min-width: 635px) {
    .intro {
        padding: 2%;
        min-height: 375px;
    }
    .intro__banner {
        top: -20px;
    }
    .banner__name {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 634px) {
    .intro {
        min-height: 400px;
        padding-top: 3%;
    }
    .intro__banner {
        position: static;
        text-align: center;
    }
    .banner__name {
        font-size: 2.2rem;
    }
    .banner__title {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 400px) {
    .intro {
        height: auto;
    }
}

/* ======================================== */
/* ========== 3. Bar ====================== */
.bar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #FFFFFF;
    z-index: 200;
}

.bar__name {
    font-size: 2rem;
    font-family: 'Lobster', 'Times New Roman', Times, serif;
    padding: 15px
}

.bar__logo {
    display: none;
}

.bar__navigation ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 15px;
}

.navigation__link {
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.4rem;
}

.navigation__link:hover {
    font-size: 1.6rem;
    text-decoration: none;
}

.bar--sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.bar--sticky + section {
    padding-top: 130px;
}

@media only screen and (max-width: 750px) {
    .bar__name {
        display: none;
    }
    .bar__logo {
        display: inline-block;
        height: 70px;
        width: auto;
        padding: 0 15px;
    }
}

@media only screen and (max-width: 565px) {
    .bar {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }
    .bar__navigation ul{
        display: none;
        flex-direction: column;
        list-style-type: none;
        margin-right: 15px;
    }
    .bar:hover .bar__navigation ul {
        display: flex;
    }
    .navigation__link {
        margin: 10px;
        font-size: 1.8rem;
    }
}

/* ======================================== */
/* ========== 4. About ==================== */
.about {
    padding: 50px 6%;
}

.about__title {
    text-align: center;
}

.about__ref {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 120px 0 40px 0;
    font-family: 'Lobster', 'Times New Roman', Times, serif;
}

.about__ref p {
    font-family: 'Lobster', 'Times New Roman', Times, serif;
    font-size: 2.2rem;
}

.timeline {
    list-style: none;
    border-top: 8px solid #000000;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0;
    width: 100%;
    height: 400px;
}

.timeline__exp div {
    position: relative;
}

.exp__content {
    max-width: 2%;
    margin-top: 30px;
    padding: 30px;
    max-height: 400px;
    background-color: #FFD500;
    vertical-align: top;
    visibility: hidden;
    border-radius: 0.5em;
    position: relative;
}

.exp__content p, .exp__content h3 {
    margin: 15px;
    text-align: left;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
    display: none;
}

.exp__radio {
    display: none;
}

.exp__circle {
    box-sizing: content-box;
    margin: 0 auto;
    top: -14px;
    left: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border: 5px solid #000000;
    border-radius: 10px;
    display: block;
    position: absolute;
    transition: width 0.4s;
}

.exp__date {
    text-align: center;
    top: -40px;
    left: 0;
    right: 0;
    font-size: 1.2rem;
    line-height: 20px;
    position: absolute;
    display: none;
}

.exp__circle:hover {
    cursor: pointer;
    background: #FFD500;
    border-width: 4px;
    top: -13px;
}

.exp__radio:checked + div .exp__circle {
    background: #FFD500;
    width: 200px;
    height: 20px;
    top: -13px;
    border-width: 0px 5px;
}

.exp__radio:checked + div .exp__date {
    display: inline-block;
}

.exp__radio:checked ~ .exp__content  {
    border-color: #000000;
    width: 400px;
    max-width: 400px;
    padding: 20px;
    visibility: visible;
}

.exp__radio:checked ~ .exp__content p, .exp__radio:checked ~ .exp__content h3  {
    max-height: 200px;
    color: #000000;
    display: block;
}

.about__skills {
    width: 100%;
    margin: 30px 0;
    padding: 15px;
    text-align: center;
}

.skillset {
    margin: 30px 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    padding: 25px;
}

.skill[aria-label]:hover::after,
.skill[aria-label]:focus::after {
  content: attr(aria-label);
  
  /* position tooltip like the native one */
  position: absolute;
  width: auto;
  white-space: nowrap;
  transform: translate(-100%, 250%);
  
  /* style tooltip */
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  font-size: 14px;
  padding: 8px 12px;
  margin: 5px 10px;
}

.about__cv {
    margin-top: 120px;
    margin-bottom: -100px;
    width: 100%;
    text-align: right;
}

.cv__text {
    padding: 10px;
    display: inline-block;
}

.cv__button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FFD500;
    color: #000000;
    padding: 20px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.cv__button:hover {
    background-color: #E01F39;
    color: #FFFFFF;
}

@media only screen and (max-width: 750px) {
    .exp__content {
        padding: 10px;
    }

    .exp__radio:checked + div .exp__circle {
        background: #FFD500;
        width: 20px;
        height: 20px;
        top: -13px;
        left: -15px;
        border-width: 0px 5px;
    }

    .exp__radio:checked ~ .exp__content  {
        position: absolute;
        left: 10vw;
    }

    .exp__radio:checked + div .exp__date {
        position: relative;
        right: -10px;
    }

    .cv__text {
        display: block;
    }
}

@media only screen and (max-width: 445px) {
    .timeline {
        height: 500px;
    }
    .exp__radio:checked ~ .exp__content  {
        border-color: #000000;
        width: 77%;
        height: auto;
        max-height: 700px;
        padding: 10px;
    }

    .about__cv {
        margin-top: 120px;
        margin-bottom: 0px;
    }
}

/* ======================================== */
/* ========== 5. Projects ================= */
.projects {
    padding: 150px 6%;
    color: #FFFFFF;
    min-height: 100vh;
    background-image: linear-gradient(#E01F39, #E01F39);
    clip-path: polygon(
    0 0,
    100% 20vw,
    100% calc(100% - 20vw),
    0 100%
  );
}

.projects__display {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 80px 0 10vw;
}

.project__miniature {
    /*width: 20%;*/
    width: 400px;
    max-width: 450px;
    min-width: 300px;
    flex: 1 1 350px;
    height: 250px;
    margin: 20px;
    background-color: #1e1e1e;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    position: relative;
    box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.6);
    transition: width 0.5s;
}

.project__miniature::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    background: rgba(255, 213, 0, 0.9);
    z-index: 2;
    transition: opacity 0.5s;
    opacity: 0;  
}

.project__miniature:hover::before {
    opacity: 1;
}

.project__miniature img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
     object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.miniature__info {
    position: relative;
    z-index: 3;
    color: #000000;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    text-align: center;
    visibility: hidden;
}

.project__miniature:hover .miniature__info {
    visibility: visible;
    opacity: 1;
    transform: translateY(-65%)
}

.miniature__info h3 {
    font-size: 1.6rem;
    margin: 10px;
}

.miniature__info p {
    font-size: 1.2rem;
    display: block;
}

.miniature__info a {
    padding: 15px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    position: relative;
    top: 30px;
}

.miniature__info a:hover {
    background-color: #1e1e1e;
}

/* ======================================== */
/* ========== 6. Blog ================== */
.blog {
    margin-top: -100px;
    padding: 90px 6% 150px;
    min-height: 100vh;
}

.blog h2 {
    text-align: right;
}

.blog p {
    display: block;
    width: 100%;
    padding: 200px 0;
    text-align: center;
    font-size: 2rem;
}

/* ======================================== */
/* ========== 7. Contact ================== */
.contact {
    padding: 150px 6% 50px;
    color: #FFFFFF;
    min-height: 100vh;
    background-color: #000000;
    clip-path: polygon(
    50% 10vw, 
    100% 0, 
    100% 100%, 
    0 100%, 
    0 0)
}

.contact__title {
    text-align: center;
    margin: 100px 0 60px;
}

.contact__form {
    margin: 0 auto;
    max-width: 680px;
}

.form__input {
    margin: 20px 0;
}

.form__input input, .form__input textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border-style: none;
    font-size: 1.2rem;
}

.form__input label::after {
    content: " *";
    color: #E01F39;
}

::placeholder {
    color: #707070;
    opacity: 1;
}

input:focus::placeholder, textarea:focus::placeholder {
    opacity: 0.5;
}


.form__input input:focus, .form__input textarea:focus {
    outline: none;
    border: 3px solid #FFD500;
}

.form__input input:focus:invalid, 
.form__input textarea:focus:invalid,
.form__input input[type=email]:invalid {
    border: 3px solid #E01F39;
}

.form__input label {
    font-size: 1.2rem;
}

.form__button {
    width: 100%;
    padding: 12px 0;
    font-size: 1.4rem;
    background-color: #FFD500;
    color: #000000;
    border-style: none;
    border-radius: 5px;
}

.form__button:hover {
    color: #FFFFFF;
    background-color: #E01F39;
}

.contact__info {
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact__info a {
    padding: 25px;
    color: rgba(255, 255, 255, 0.8);
}

.contact__info a:hover {
    color: #ffffff;
    transform: translateY(-10px);
}

@media only screen and (max-width: 400px) {
    .contact__info a {
        padding: 15px;
        color: rgba(255, 255, 255, 0.8);
    }
}

/* ======================================== */
/* ========== 8. Footer =================== */
footer {
    background-color: #000000;
    color: #dfdfdf;
    text-align: center;
    padding: 50px 0 20px;
    position: relative;
    top: -1px;   
}