/*
1. General
2. Header
3. Bar
4. About
5. Projectes
6. Contact
*/

/* ======================================== */
/* ========== 1. General ================== */
* {
    font-family: 'Roboto', Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

h1 {
    font-family: 'Lobster', 'Times New Roman', Times, serif;
    font-size: 4vw;
    letter-spacing: 3px;
}

h2, h3, h4, h5, h6 {
    font-family: 'Kanit', 'Courier New', Courier, monospace;
}

h2 {
    font-size:  2.5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.4rem;
}

em {
    font-weight: bold;
    letter-spacing: 1px;
}

/* ======================================== */
/* ========== 2. Header =================== */
header {
    font-size: 1.4rem;
    background-color: black;
    color: white;
}

.intro {
    height: 100vh;
    margin: 0;
    padding: 6%;
    text-align: center;
}

.intro__banner {
    display: inline-block;
    position: relative;
    padding: 20px;
    top: -40px;
    text-align: left;
}

.banner__title {
    font-size: 1.6rem;
}

.intro__avatar {
    height: 35vh;
    width: auto;
}

.intro__description {
    margin: 20px auto;
    padding: 0 20px;
    max-width: 800px;
}

.intro__button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FFD500;
    color: #000000;
    padding: 10px 20px;
}

.intro__button:hover {
    background-color: #E01F39;
    color: #FFFFFF;
}

@media only screen and (max-height: 550px) and (min-width: 635px) {
    .intro {
        padding: 2%;
        min-height: 375px;
    }
    .intro__banner {
        top: -20px;
    }
    .banner__name {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 634px) {
    .intro {
        min-height: 400px;
        padding-top: 3%;
    }
    .intro__banner {
        position: static;
        text-align: center;
    }
    .banner__name {
        font-size: 2.2rem;
    }
    .banner__title {
        font-size: 1.4rem;
    }
}

/* ======================================== */
/* ========== 3. Bar ====================== */
.bar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #FFFFFF;
}

.bar__name {
    font-size: 2rem;
    font-family: 'Lobster', 'Times New Roman', Times, serif;
    padding: 15px
}

.bar__logo {
    display: none;
}

.bar__navigation ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 15px;
}

.navigation__link {
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.4rem;
}

.navigation__link:hover {
    font-size: 1.6rem;
    text-decoration: none;
}

.bar--sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.bar--sticky + section {
    padding-top: 130px;
}

@media only screen and (max-width: 750px) {
    .bar__name {
        display: none;
    }
    .bar__logo {
        display: inline-block;
        height: 70px;
        width: auto;
        padding: 0 15px;
    }
}

@media only screen and (max-width: 565px) {
    .bar {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }
    .bar__navigation ul{
        display: none;
        flex-direction: column;
        list-style-type: none;
        margin-right: 15px;
    }
    .bar:hover .bar__navigation ul {
        display: flex;
    }
    .navigation__link {
        margin: 10px;
        font-size: 1.8rem;
    }
}

/* ======================================== */
/* ========== 4. About ==================== */
.about {
    padding: 50px 6%;
}

.about__exp {
    background-color: #FFD500;
    display: block;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
}